{% extends "base.jinja" %}

{% block content %}
    <h2>Car</h2>
    <form action=""method="post">
    {{ form.hidden_tag() }}
    <p>
    {{ form.id.label }}<br>
    {{ form.id(size=32) }}
    </p>
    <p>
    {{ form.make.label }}<br>
    {{ form.make(size=32) }}
    </p>
    <p>
    {{ form.model.label }}<br>
    {{ form.model(size=32) }}
    </p>
    <p>
    {{ form.year.label }}<br>
    {{ form.year(size=32) }}
    </p>
    <p>
    {{ form.color.label }}<br>
    {{ form.color(size=32) }}
    </p>
    <p>
    {{ form.price.label }}<br>
    {{ form.price(size=32) }}
    </p>
    <p>
    {{ form.price.label }}<br>
    {{ form.price(size=32) }}
    </p>
    <p>
    {{ form.date_created.label }}<br>
    {{ form.date_created(size=32) }}
    </p>
    <p>
    {{ form.submit(class='btn btn-primary') }}
    </p>
    </form>
{% endblock %}